/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

:root{
    --regal-blue: #64ffda;
    --regal-purple: #0a192f;
    --regal-pink: #e66470 ;
    --regal-hover-purple: rgba(10, 25, 47, 0.62);
    --regal-aside-purple: rgb(23, 42, 69);
}
